body {
	background-color: black;
}

h1 {
	color: white;
	font-family: Futura;
	font-size: 100px;
}
.wrapper {
	text-align: center;
}

#map-canvas {
	height: 800px;
	width: 800px;
	margin-left: 15%;
	margin-right: 25%;
}